.App {
  text-align: center;
}

.header-section {
  background-color: #000;
  text-align      : center;
  padding         : 10px;
}

.header-section a {
  text-decoration: none;
  color          : white;
  margin         : 10px;
  font-size      : 20px;
  padding        : 10px 5px;
}

.header-section a:hover {
  background: lightgray;
  color     : #000;
}

.shop {
  display              : grid;
  grid-template-columns: 3fr 1fr;
}

.product {
  margin-left  : 20px;
  padding      : 20px;
  border-bottom: 1px solid gray;
  display      : flex;
}

.text h2 {
  font-weight: 400;
  color      : blue;
}

.text h3 {
  font-weight: 400;
}

.btn-regular {
  outline      : none;
  border       : none;
  color        : #000;
  background   : goldenrod;
  border-radius: 3px;
  padding      : 5px 15px;
  font-size    : 15px;
  cursor       : pointer;
}

.carts {
  border-left: 1px solid gray;
  margin-left: 20px;
  padding    : 10px;
}

.login-page {
  display        : flex;
  justify-content: center;
  align-items    : center;
}